{
  "tabWidth": 3,
  "singleQuote": false,
  "bracketSameLine": true,
  "printWidth": 90,
  "endOfLine": "auto",
  "arrowParens": "avoid",
  "trailingComma": "es5",
  "semi": false,
  "bracketSpacing": false,
  "tailwindFunctions": [
    "cn",
    "clsx",
    "cva"
  ]
}